body {
  margin: 0;
}
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.box {
  border: 1px solid #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.box img {
  max-width: 100%;
  height: auto;
}
.box a {
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
}
.box p {
  margin: 0;
  text-align: center;
}

.box img {
  width: 200px;
  max-height: 140px;
}
